#icones_account_closing {
    background-image: url("/images/applications/icones_account_closing_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}


#icones_account_closing{
    background-image: url("/images/applications/icones_account_closing_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_account_opening{
    background-image: url("/images/applications/icones_account_opening_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_alert{
    background-image: url("/images/applications/icones_alert_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_audit_findings{
    background-image: url("/images/applications/icones_audit_findings_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_career{
    background-image: url("/images/applications/icones_career_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_cash_accounts{
    background-image: url("/images/applications/icones_cash_accounts_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_client_info{
    background-image: url("/images/applications/icones_client_info_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_client_validation{
    background-image: url("/images/applications/icones_client_validation_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_clients_groups{
    background-image: url("/images/applications/icones_clients_groups_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_delegation{
    background-image: url("/images/applications/icones_delegation_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_directives{
    background-image: url("/images/applications/icones_directives_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_directory{
    background-image: url("/images/applications/icones_directory_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_edoc{
    background-image: url("/images/applications/icones_edoc_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_forecast{
    background-image: url("/images/applications/icones_forecast_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_hold_mail_val{
    background-image: url("/images/applications/icones_hold_mail_val_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_home{
    background-image: url("/images/applications/icones_home_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_inv_structure{
    background-image: url("/images/applications/icones_inv_structure_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_logbook{
    background-image: url("/images/applications/icones_logbook_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_market_insights{
    background-image: url("/images/applications/icones_market_insights_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_misa34{
    background-image: url("/images/applications/icones_misa34_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_misacof{
    background-image: url("/images/applications/icones_misacof_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_news{
    background-image: url("/images/applications/icones_news_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_oms{
    background-image: url("/images/applications/icones_OMS_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_orders{
    background-image: url("/images/applications/icones_orders_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_performances{
    background-image: url("/images/applications/icones_performances_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_positions{
    background-image: url("/images/applications/icones_positions_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_secure_mail{
    background-image: url("/images/applications/icones_secure_mail_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_stock_search{
    background-image: url("/images/applications/icones_stock_search_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_virtual_portfolio{
    background-image: url("/images/applications/icones_virtual_portfolio_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

#icones_world_news{
    background-image: url("/images/applications/icones_world_news_64_44.png");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

